# Arquivos de Bytecode e Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Virtual
.venv/
venv/
env/

# Banco de Dados Local (SQLite)
db.sqlite3
*.sqlite3

# Arquivos de Mídia (Uploads de Usuários)
/media/

# Arquivos Estáticos Coletados
/staticfiles/

# Arquivos de configuração de IDEs
.vscode/
.idea/